.Rproj.user
.Rhistory
.RData
*.DS_Store
*.Rproj
paper.log
cover-letter/*.png
cover-letter/*.pdf
*.zip
*.log
new-paper.tex
new-paper.pdf
*sharing.pdf
completed-di-form.pdf
cover-letter.pdf
merged-full.pdf
*.docx
